.changeset, .addedRow, .removedRow
{
	border: 1px solid black;
	width: 100%;
	table-layout: fixed;
}

.addedRow
{
	background-color: #27ae60;
	color: white;
	size: 50%;
}

.removedRow
{
	background-color: #c0392b;
	color: white;
	size: 50%;
}

a
{
	text-decoration: none;
	color: white;
}