.changeset, .addedRow, .removedRow
{
	border: 1px solid black;
	width: 100%;
	table-layout: fixed;
}

.addedRow
{
	background-color: #27ae60;
	color: white;
	size: 50%;
}

.removedRow
{
	background-color: #c0392b;
	color: white;
	size: 50%;
}

a
{
	text-decoration: none;
	color: white;
}

input[type=radio]
{
	display: none;
}

label
{
	cursor: pointer;
	background: #eee;
	margin: 10px 0 0;
	padding: 10px;
	border: 1px solid;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	display: inline-block;
	position: relative;
	top: 5px;
}

input:checked + label 
{
	top: 0;
	border: 1px solid;
	border-bottom: 5px solid;
}